div.required label.control-label:after {
    content: " *";
    color: red;
}

.product-thumb .caption {
  min-height: 100px;
}

.category-nav a {
  text-decoration: none;
}

.list-group a {
  color: #888888;
  display: block;
}

.list-group-item.active, 
.list-group-item.active:hover, 
.list-group-item:focus,
.list-group-item:hover
 {
  background-color: #eee;
  border-color: #ddd;
}

.nav-tabs {
  margin-bottom: 15px;
}

.thumbnails {
  margin-left: -20px;
  clear: both;
  list-style: outside none none;
  overflow: auto;
  padding: 0;
}

.thumbnails > li {
  margin-left: 20px;
}

.thumbnails .image-additional {
  float: left;
  margin-left: 20px;
}